.grid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
#grid-container-col{
    margin:30px 300px 0px 300px;
}
#grid-container-row{
    margin:0px 300px;
}
.col{
    border:1px solid rgba(0, 0, 0, 0.5);
    background-color:  #11697be8;
    color:white;
    font-weight: 600;
    padding: 5px;
}
.row{
    background-color: white;
    border:1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-weight: 500;
}
#uploaded-file-link{
    text-decoration: none;
    color:inherit;
}
#uploaded-file-link:hover{
    text-decoration: underline
}
#report-text{
    cursor: pointer;
}
#report-text:hover{
    text-decoration: underline;
}

@media screen and (max-width:1200px) {
    #grid-container-col{
        margin:30px 90px 0px 90px;
    }
    #grid-container-row{
        margin:0px 90px;
    }
}
